@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,700');

body {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/

  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #6a6a6a;
}

.menu .item {
  z-index: 200;
}

.navbar {
  padding: 1em;
}

.brand {
  font-family: 'Merriweather', sans-serif;
  font-size: 18pt;
}

.drink-form {
  max-width: 400px;
}

.navbar-right a {
  padding: 0 1em;
}

.drinks-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.drink-graphic {
  display: flex;
  display: -webkit-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.ingredients-container {
  margin: 1em;
}
